* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background: black;
}

.container-success {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* START */

.start-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
}

.back-arrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px 50px;
}

.back-arrow a {
    color: white;
    font-size: 23px;
    font-weight: 700;
    margin: 10px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}


.back-arrow i:hover {
    color: rgb(92, 100, 235);
}

.back-arrow a:hover {
    color: rgb(92, 100, 235);
}

.logo img {
    max-width: 200px;
    margin: 20px 50px 20px 0px;
}

/* MAIN */

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    position: relative;
}

.main-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.caller {
    margin-left: 20px;

}

.main-text h1 {
    color: white;
    font-size: 90px;
    font-family: "Poppins", sans-serif; 
    padding: 0px 20px 0px 20px;
}


.main-text h2 {
    color: rgb(153, 153, 153);
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 60px;
    padding: 0px 20px 0px 20px;
}

.orange {
    color: #FF6110;
}



/* FOOTER */


.footer-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 40%;
}

.footer-image {
   height: 100%;
}
.footer-image img {
    height: 100%;
    transform: translateX(17%);
}


